#content {
    margin: 50px 20px 0;
}
.btn-default {
    margin: 5px;
}
#dropdown {
    height: 32px;
    border: 1px solid #ccc;
    background-image: linear-gradient(180deg,#fff 0,#e0e0e0);
    color: #333;
}
.progress-bar.error {
    background-image: linear-gradient(180deg,#a51313 0,#d9534f);
}